/* --Styles for HEADER box at top of each page.-- */
.header {
    border: 1px black solid;
    border-radius: 8px;
    margin: 10px;
}

.header img {
    width: 10rem;
    padding: 5px;
    float: left;
}

.header h4 {
    padding-left: 10px;
    /* float: left; */
}

.header a {
    text-decoration: none;
}

.nav-bar ul{
    list-style: none;
}

/* --Styles for CONTENT BOX below header on each page.-- */
.main-content {
    border: 1px black solid;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
}

.important {
    font-weight: bold;
    font-style: italic;
}

/* --Styles for PROJECTS section.-- */
/* Two Columns for Projects */
.project-column {
    float: left;
    width: 50%; 
}

/* .project-row {
    border: 1px black solid;
}
.my-projects {
    border: 1px black solid;
} */

.project {
    margin: 1%;
    padding: 3px;
    background-color: rgba(196, 246, 242, 0.573);
    border-radius: 8px;
    box-sizing: border-box;
}

.repos-link {
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
}

.pages-link {
    float:right;
    text-decoration: none;
}

/* --Styles for ABOUT ME section.-- */
/* Three Columns for Interests, Hobbies, Skills */
.my-hobbies {
    
}

.hobbies-column {
    float: left;
    width: 33.33%;
    text-align: center;
}

.hobbies-column li {
    text-align: left;
}

.hobbies-column p {
    text-align: justify;
}
  
/* class .clearfix will clear floats after the columns, 
which we can use to fix the "overflow" problem */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* --Responsive Design for viewing on mobile device-- */
@media screen and (max-width: 600px) {
    /* class .phone-stack will allow columns to stack on top of each other */
    .phone-stack {
      width: 100%;
    }
  }