/* --Styles for HEADER box at top of each page.-- */
.header {
    border: 1px black solid;
    border-radius: 8px;
    margin: 10px auto;
}

.profile-pic {
    width: 10rem;
    padding: 5px;
    float: left;
}

.nav-bar {
    padding-left: 10px;
    margin-top: 10px;
} 
.nav-bar ul{
    list-style: none;
}

.nav-bar a {
    padding: 5px 15px;
    border-radius: 8px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
  }
  
  .nav-bar a:hover, .nav-bar a:active {
    background-color: rgba(196, 246, 242, 0.573);
    color: black;
  }

/* --Styles for CONTENT BOX below header on each page.-- */
.main-content {
    border: 1px black solid;
    border-radius: 8px;
    margin: 10px auto; 
    padding: 10px;
}

.important {
    font-weight: bold;
    font-style: italic;
}

/* --Styles for PROJECTS section.-- */
/* Two Columns for Projects */
.project-column {
    float: left;
    width: 50%; 
}

.project {
    margin: 1%;
    padding: 1%;
    background-color: rgba(196, 246, 242, 0.573);
    border-radius: 8px;
    box-sizing: border-box;
}

.project li {
    font-size: smaller;
}

.project p {
    display: inline-block;
}

.repos-link {
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
}

.pages-link {
    float:right;
    text-decoration: none;
}

/* --Styles for ABOUT ME section.-- */
/* Three Columns for Interests, Hobbies, Skills */
.hobbies-column {
    float: left;
    width: 33.33%;
    text-align: center;
}

.hobbies-column li {
    text-align: left;
}

.hobbies-column p {
    text-align: justify;
}
  
/* class .clearfix will clear floats after the columns, 
which we can use to fix the "overflow" problem */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* --Responsive Design for viewing on mobile device-- */
@media screen and (max-width: 600px) {
    /* class .phone-stack will allow columns to stack on top of each other */
    .phone-stack {
      width: 100%;
    }
  }