/* Styles for header box at top of page. */
.header {
    border: 1px black solid;
    margin: 10px;
}

.header img {
    width: 10rem;
    padding: 10px;
}

.header h1 {
    padding-left: 10px;
}

/* Styles for content box below header. */
.main-content {
    border: 1px black solid;
    margin: 10px;
    padding-left: 10px;
}

.main-content ul {
    list-style: none;
}